.bestiary {
    width: 100%;
    padding: 20px 20px;
    text-align: center;
}

.bestiary h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.bestiary .search {
    width: 50%;
    height: 30px;
    font-size: 22px;
    margin: 20px;
    box-shadow: 1px 1px 3px black;
}

.bestiary .addMonster {
    width: 80px;
    height: 40px;
    background-color: #c9bebe;
    box-shadow: 1px 1px 5px black;
}

.bestiary .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bestiary .monster {
    margin-bottom: 20px;
}